* { 
    margin: 5px;
    padding: 0;
    color: #ff1a75;
}

body {
    height: 100%;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}

button {
    padding: 5px;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
}

input {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.welcome {
    color: #F4FF00;
}

.center-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 20px;
}

.inline-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.inline-item {
    display: flex;
    padding: 20px;
    margin: 30px;
}

.forms {
    font-size: 20px;
}

.secondary {
    font-size: 30px;
}
/* .submit {
    padding: 5px;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    align-self: center;
} */

#contentDiv {
    position: relative;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas { 
    width: 800px;
    height: 600px;
    display: block;
    background: #eee; 
}

#gameHeader {
    padding: 15px;
    height: 10vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 70px;
}





/* must keep at bottom of file!! */
.hidden {
    display: none;
}