* { 
    /* padding: 0; */
    color: #ff1a75;
    
}

body {
    margin: 5px;
    height: 100%;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}

h1, h2, h3, h4, p {
    display: block;
    padding-top: 0.2em;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button {
    padding: 5px;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
}

input {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}


td, th {
    font-size: 25px;
    text-align: left;
    border-spacing: 5px, 2px;
}

td, .playerNameHeader, #name {
    color: #00ff00;
}

ul {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    position: relative;
    z-index: 50;
}
/* 
li a {
  display: block;
  color:  #F4FF00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* li a:hover {
    color: #00ff00;
} */

.header-item{
    font-family: 'Press Start 2P', cursive;
}

.welcome {
    color: #F4FF00;
}

.center-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.inline-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.inline-item {
    display: flex;
    padding: 20px 10px;
    margin: 10px;
}

.forms {
    font-size: 20px;
}

.secondary {
    color: #F4FF00;
    font-size: 35px;
}

input[type="submit" i] {
    -webkit-appearance: none;
    padding: 5px;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
} 

#leaderBoardDiv {
    width: 50%;
}

#contentDiv {
    position: static;
    
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#alien {
    height: 200px;
}

/* iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 300px;
} */

/* #canvas { 
    width: 800px;
    height: 600px;
    display: block;
    background: #eee; 
} */

#gameHeader {

    padding: 15px;
    height: 10vh;
    /* font-family: 'Press Start 2P', cursive; */
    font-size: 70px;
}





/* must keep at bottom of file!! */
.hidden {
    display: none;
}